body {
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*this is the css for the home page image*/

.home{
    background-image: url("/static/images/background.jpg");
    background-size:cover;
    height:500px;
    margin:0;
}