<hr>
    <a href = "/"> HOME</a> - 
    <a href = "/movements">MOVEMENTS </a> -
    <a href = "/artists">ARTISTS</a>
    <!--the float:right moves the search and submit button to the right-->
    <div class="search-container" style="float:right">
        <form action="/search">
          <!-- i had to add a maxlength to the search because chrome can't handle too many 
            characters in the url, so this prevents it from happening-->
          <input type="text" maxlength="100" placeholder="Search Artworks..." name="query">
          <button type="submit">⌕</button>
        </form>
      </div>
<hr> 